.SettingsForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Inputs {
  display: flex;
  margin-bottom: 2rem;
}

.Inputs > div {
  margin-right: 2rem;
}

.Inputs > div > label {
  margin-right: 1rem;
}

.PersonalizeContainer {
  display: flex;
  align-items: stretch;
}

.PersonalizeButton:hover {
  color: grey;
}

.PersonalizeInputs {
  display: flex;
  flex-direction: column;
}

.PersonalizeInput:not(:last-child) {
  margin-bottom: 0.3rem;
}

.PersonalizeInput > label {
  display: inline-block;
  min-width: 7rem;
}

.SubmitButton {
  min-width: 120px;
}

@media only screen and (max-width: 800px) {
  .Inputs {
    flex-direction: column;
  }

  .Inputs > div {
    margin-bottom: 1rem;
    margin-right: 0;
  }

  .PersonalizeInput:not(:last-child) {
    margin-bottom: 1rem;
  }
}
